In [1]:
import pandas as pd
cricket = pd.read_csv('cricketdata.csv')
cricket.head()

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6
1,PHKD Mendis (SL),2022-2025,14,24,3,1316,182*,62.66,2063,63.79,5,5,NaN,137,24
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1

### Step 1 : Data Profiling

In [2]:
cricket.shape

(63, 15)

In [3]:
cricket.duplicated().sum()

0

In [4]:
cricket.columns

Index(['Player', 'Span', 'Mat', 'Inns', 'NO', 'Runs', 'HS', 'Ave', 'BF', 'SR',
       '100', '50', '0', '4s', '6s'],
      dtype='object')

### Step 1 : Rename column headers

In [5]:
cricket = cricket.rename(columns={"Mat":"Matches", "NO":"Not_Outs", "HS":"Highest_Inns_Score", "BF":"Balls_Faced", "SR":"Batting_Strike_Rate"})

In [6]:
cricket.head()

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6
1,PHKD Mendis (SL),2022-2025,14,24,3,1316,182*,62.66,2063,63.79,5,5,NaN,137,24
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1

### Step 2 : Checking for missing values

In [7]:
cricket.isna().any()

Player                 False
Span                   False
Matches                False
Inns                   False
Not_Outs               False
Runs                   False
Highest_Inns_Score     False
Ave                    False
Balls_Faced             True
Batting_Strike_Rate     True
100                    False
50                     False
0                       True
4s                     False
6s                     False
dtype: bool

In [8]:
cricket[cricket['Balls_Faced'].isna()]

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
8,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,NaN,NaN,15,19,6,258+,2
14,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,NaN,NaN,15,14,1,107+,11
55,Hon.FS Jackson (ENG),1893-1905,20,33,4,1415,144*,48.79,NaN,NaN,5,6,3,51+,0

### Step 3 : Replaced nulls with 0

In [9]:
cricket['Balls_Faced']=cricket['Balls_Faced'].fillna(0)

In [10]:
cricket['Batting_Strike_Rate']=cricket['Batting_Strike_Rate'].fillna(0)

In [11]:
cricket.iloc[8,:]

Player                 ED Weekes (WI)
Span                        1948-1958
Matches                            48
Inns                               81
Not_Outs                            5
Runs                             4455
Highest_Inns_Score                207
Ave                             58.61
Balls_Faced                         0
Batting_Strike_Rate               0.0
100                                15
50                                 19
0                                   6
4s                               258+
6s                                  2
Name: 8, dtype: object

In [12]:
cricket[cricket['Player']=='ED Weekes (WI)']

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
8,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,0,0.0,15,19,6,258+,2

### Step 4 : Split 'Span' column and renamed them 'Rookie_Year' and 'Final_Year'

In [13]:
cricket['Span'].str.split(pat='-')

0     [1928, 1948]
1     [2022, 2025]
2     [2015, 2016]
3     [1963, 1970]
4     [1930, 1954]
          ...
58    [1965, 1981]
59    [2002, 2014]
60    [1924, 1934]
61    [1930, 1938]
62    [1928, 1934]
Name: Span, Length: 63, dtype: object

In [14]:
cricket['Rookie_Year'] = cricket['Span'].str.split(pat='-').str[0]

In [15]:
cricket['Rookie_Year']

0     1928
1     2022
2     2015
3     1963
4     1930
      ...
58    1965
59    2002
60    1924
61    1930
62    1928
Name: Rookie_Year, Length: 63, dtype: object

In [16]:
cricket['Final_Year'] = cricket['Span'].str.split(pat='-').str[1]

In [17]:
cricket['Final_Year']

0     1948
1     2025
2     2016
3     1970
4     1954
      ...
58    1981
59    2014
60    1934
61    1938
62    1934
Name: Final_Year, Length: 63, dtype: object

### Step 5 : Deleted 'Span' column

In [18]:
cricket.drop('Span', axis=1, inplace=True)

In [19]:
cricket.head()

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948
1,PHKD Mendis (SL),14,24,3,1316,182*,62.66,2063,63.79,5,5,NaN,137,24,2022,2025
2,AC Voges (AUS),20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock (SA),23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970
4,GA Headley (WI),22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1,1930,1954

### Step 6 : Split 'Player' column to 'Player_Name' and 'Country'

In [20]:
cricket['Player'].str.split(pat='(')

0      [DG Bradman , AUS)]
1      [PHKD Mendis , SL)]
2        [AC Voges , AUS)]
3       [RG Pollock , SA)]
4       [GA Headley , WI)]
              ...
58     [KD Walters , AUS)]
59    [GC Smith , ICC/SA)]
60    [WH Ponsford , AUS)]
61      [SJ McCabe , AUS)]
62     [DR Jardine , ENG)]
Name: Player, Length: 63, dtype: object

In [21]:
cricket['Player'].str.split(pat = '(')

0      [DG Bradman , AUS)]
1      [PHKD Mendis , SL)]
2        [AC Voges , AUS)]
3       [RG Pollock , SA)]
4       [GA Headley , WI)]
              ...
58     [KD Walters , AUS)]
59    [GC Smith , ICC/SA)]
60    [WH Ponsford , AUS)]
61      [SJ McCabe , AUS)]
62     [DR Jardine , ENG)]
Name: Player, Length: 63, dtype: object

In [22]:
cricket['Country'] = cricket['Player'].str.split(pat = '(').str[1]

In [23]:
cricket['Country'] = cricket['Country'].str.strip(')')

In [24]:
cricket.head()

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948,AUS
1,PHKD Mendis (SL),14,24,3,1316,182*,62.66,2063,63.79,5,5,NaN,137,24,2022,2025,SL
2,AC Voges (AUS),20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
3,RG Pollock (SA),23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970,SA
4,GA Headley (WI),22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1,1930,1954,WI

In [25]:
cricket['Player'] = cricket['Player'].str.split(pat = '(').str[0]

In [26]:
cricket.head()

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country
0,DG Bradman,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948,AUS
1,PHKD Mendis,14,24,3,1316,182*,62.66,2063,63.79,5,5,NaN,137,24,2022,2025,SL
2,AC Voges,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
3,RG Pollock,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970,SA
4,GA Headley,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1,1930,1954,WI

### Step 6 : Check datatypes, converted Rookie_Year and Final_Year to numeric

In [27]:
cricket.dtypes

Player                  object
Matches                  int64
Inns                     int64
Not_Outs                 int64
Runs                     int64
Highest_Inns_Score      object
Ave                    float64
Balls_Faced             object
Batting_Strike_Rate    float64
100                      int64
50                       int64
0                       object
4s                      object
6s                      object
Rookie_Year             object
Final_Year              object
Country                 object
dtype: object

In [28]:
cricket['Highest_Inns_Score'] = pd.to_numeric(cricket['Highest_Inns_Score'].str.strip('*'))

In [29]:
cricket.dtypes

Player                  object
Matches                  int64
Inns                     int64
Not_Outs                 int64
Runs                     int64
Highest_Inns_Score       int64
Ave                    float64
Balls_Faced             object
Batting_Strike_Rate    float64
100                      int64
50                       int64
0                       object
4s                      object
6s                      object
Rookie_Year             object
Final_Year              object
Country                 object
dtype: object

In [30]:
cricket['Rookie_Year'] = pd.to_numeric(cricket['Rookie_Year'])

In [31]:
cricket['Rookie_Year'].dtypes

dtype('int64')

In [32]:
cricket['Final_Year'] = pd.to_numeric(cricket['Final_Year'])

In [33]:
cricket.dtypes

Player                  object
Matches                  int64
Inns                     int64
Not_Outs                 int64
Runs                     int64
Highest_Inns_Score       int64
Ave                    float64
Balls_Faced             object
Batting_Strike_Rate    float64
100                      int64
50                       int64
0                       object
4s                      object
6s                      object
Rookie_Year              int64
Final_Year               int64
Country                 object
dtype: object

### Step 7 : Replace '-' with Not a Number in column 0 and converting it to integer

In [34]:
import numpy as np
cricket['0'] = cricket['0'].replace('-', np.nan).fillna(0).astype('int')

In [35]:
cricket['0'].dtypes

dtype('int64')

In [36]:
cricket.dtypes

Player                  object
Matches                  int64
Inns                     int64
Not_Outs                 int64
Runs                     int64
Highest_Inns_Score       int64
Ave                    float64
Balls_Faced             object
Batting_Strike_Rate    float64
100                      int64
50                       int64
0                        int64
4s                      object
6s                      object
Rookie_Year              int64
Final_Year               int64
Country                 object
dtype: object

### Step 8 : Removing characters in columns 6s and Balls_Faced and converting them to integer

In [37]:
cricket['6s'] = cricket['6s'].str.strip('+').astype('int')

In [50]:
cricket['4s'] = cricket['4s'].str.strip('+').astype('int')

In [38]:
cricket['Balls_Faced'] = cricket['Balls_Faced'].str.strip('+')

In [39]:
mean = cricket['Balls_Faced'].fillna(0).astype('int').mean()

In [40]:
cricket['Balls_Faced'].replace(0,mean)

0      9800
1      2063
2      2667
3      1707
4       416
      ...
58     8662
59    15525
60     3118
61     3217
62     2110
Name: Balls_Faced, Length: 63, dtype: object

In [41]:
cricket.dtypes

Player                  object
Matches                  int64
Inns                     int64
Not_Outs                 int64
Runs                     int64
Highest_Inns_Score       int64
Ave                    float64
Balls_Faced             object
Batting_Strike_Rate    float64
100                      int64
50                       int64
0                        int64
4s                      object
6s                       int64
Rookie_Year              int64
Final_Year               int64
Country                 object
dtype: object

### Step 9 : Add Career_Length column

In [42]:
cricket['Career_Length'] = cricket['Final_Year'] - cricket['Rookie_Year']

In [43]:
# Question 1: Calculate the mean Career_Length
cricket['Career_Length'].mean()

12.80952380952381

In [44]:
# Question 2: Average Batting_Strike_Rate for cricketers whose career length is more than 10 years
cricket[cricket['Career_Length']>10]['Batting_Strike_Rate'].mean()

47.805116279069765

In [45]:
# Question 3: Find the number of crickers who played before 1960
cricket[cricket['Rookie_Year']<1960].shape[0]

23

In [46]:
# Question 4: Max Highest Inn Score by country
cricket.groupby('Country')['Highest_Inns_Score'].max().sort_values(ascending = False)

Country
ICC/WI     400
AUS        380
SL         374
WI         365
ENG        364
ICC/PAK    329
ICC/IND    319
PAK        313
SA         278
ICC/SA     277
NZ         251
IND        248
ZIM        232
Name: Highest_Inns_Score, dtype: int64

In [47]:
# Question 5: Top Hundreds, Fifties and 0 AVG by country
cricket.groupby('Country')[['100','50','0']].mean()

               100         50          0
Country
AUS      21.533333  29.066667   8.933333
ENG      12.642857  20.571429   4.214286
ICC/IND  29.500000  47.500000  12.000000
ICC/PAK  25.000000  46.000000  15.000000
ICC/SA   36.000000  48.000000  13.500000
ICC/WI   34.000000  48.000000  17.000000
IND      23.750000  32.000000   8.500000
NZ       33.000000  37.000000  11.000000
PAK      17.800000  24.200000   8.000000
SA        9.800000  20.200000   3.400000
SL       22.750000  34.250000   9.250000
WI       16.625000  25.625000   7.250000
ZIM      12.000000  27.000000   5.000000